---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col col-12 col-t-12">
            <<!-- Add Tab Navigation -->
            <div class="tabs" style="margin-bottom: 30px;">
                <button class="tab-button active" onclick="filterPosts('all')">All Posts</button>
                <button class="tab-button" onclick="filterPosts('ML-DS')">ML-DS</button>
                <button class="tab-button" onclick="filterPosts('DL')">DL</button>
            </div>

            <!-- Posts Grid (Modified for Tabs) -->
            <div class="row" id="all-posts">
                {% for post in paginator.posts %}
                    {% include post-card.html %}
                {% endfor %}
            </div>

            <!-- Hidden Tab1 Posts -->
            <div class="row" id="ML-DS-posts" style="display: none;">
                {% for post in site.posts %}
                    {% if post.categories contains 'ML-DS' %}
                        {% include post-card.html %}
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Hidden Tab2 Posts -->
            <div class="row" id="DL-posts" style="display: none;">
                {% for post in site.posts %}
                    {% if post.categories contains 'DL' %}
                        {% include post-card.html %}
                    {% endif %}
                {% endfor %}
            </div>

            {% include pagination.html %}
        </div>
    </div>
</div>
